.thing-form {
    margin: 20px 0;
}

#banner {
    border-bottom: none;
    margin-top: -20px;
}

.instructHeader {
    position: relative;
    color: #F5F5F5;
    text-align: left;
    padding: 30px 15px;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: maroon;
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}

.instructions {
    margin-top: 20px;
    padding: 40px;
    background-color: lavender;
}