<div ng-include="'components/navbar/navbar.html'"></div>

<header class="goal" id="banner">
  <div class="container">
    <h1>Goal</h1>
    <p class="lead">Marvin is feeling very depressed. Help Marvin make a new friend by grabbing all the watermelon and bring it to the other robot!</p>
  </div>
</header>

<div class='row'>
  
  <div class='container grid col-md-7'>
    <table class="table table-bordered">
      <th></th>
      <th ng-repeat='row in game.getGrid() track by $index'>
        {{$index}}
      </th>
      <tr ng-repeat='row in game.getGrid() track by $index'>
        <th>{{$index}}</th>
        <td ng-repeat='item in row track by $index'><img src={{item.image}} id='tableImage'/></td>
      </tr>
    </table>
  </div>

  <div class='container cmd col-md-4'>
    <h3>INPUT</h3>
    
    <textarea rows='20' cols='40' ng-model='text'></textarea>
  </br>
    <button ng-click='game.runScript(text)'>submit</button>
    <button ng-click='game.resetState()'>reset</button>


  </div>

</div>

<footer class="footer">
  <div class="container">
      <p>Robo Script v0.0.1</p>
  </div>
</footer>
