<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h3>Robo Script!</h3>
    <p class="lead">a programming game</p>
    <img src="assets/images/robo.png" alt="I'm Robo" height="50px">
  </div>
</header>

<div class='row'>
  
  <div class='container grid col-md-7'>
    <table class="table table-bordered">
      <th></th>
      <th ng-repeat='row in game.getGrid() track by $index'>
        {{$index}}
      </th>
      <tr ng-repeat='row in game.getGrid() track by $index'>
        <th>{{$index}}</th>
        <td ng-repeat='item in row track by $index'><img src={{item}} id='tableImage'/></td>
      </tr>
    </table>
  </div>

  <div class='container cmd col-md-4'>
    <h3>INPUT</h3>
    
    <textarea rows='8' cols='40' ng-model='text'></textarea>
    <button ng-click='game.runScript(text); text="";'>submit</button>

  </div>

</div>

<footer class="footer">
  <div class="container">
      <p>Robo Script v0.0.1</p>
  </div>
</footer>
